/*自定义弹出框样式style_1
			*/
			/* 内容，边框样式 */
			#popup_container.style_1 {
				font-family: Georgia, serif;
				text-align:center;			
				border-color: #FFFFCC;
			}
			/* 头部样式 */
			#popup_container.style_1 #popup_title {
				color:#999999;
				font-weight: bold;
				text-align: center;
				background: #FFFFCC;
				padding-left: 1em;
			}
			
			#popup_container.style_1 #popup_content {
				font-size:15px;
				background: #FFCCCC;
			}
			
			#popup_container.style_1 #popup_message {
				padding-left: 0em;
			}
			/* ok按钮样式*/
			#popup_container.style_1 INPUT[type='button'] {
				border: outset 2px #FFFFCC;
				color: #4B4B4B;
				
			}
			